{% extends "warehouse-theme/pages/based/based.html" %}
{% block title %}{{_("编辑商品-")}}{% endblock %}
{% block content %}
<!-- Date Picker -->
<data id="goods_id" content="{{data.goods_id}}" hidden></data>

<div id="app" v-cloak>
    <div class="row osr-edit-page">
        <div class="col-md-12 osr-col-xs-12">
            <section class="osr-panel">
              <header class="panel-heading tab-bg-dark-navy-blue osr-panel-heading">
                  <strong >{{_("编辑商品")}}</strong>
                  <a href="/warehouse/goods/add" class="osr-color-success">
                    {{_("点击添加商品")}}
                  </a>&nbsp;

                  <a class="pull-right"
                     href="/warehouse/goods?page={{data.fp}}&type={{data.ftype}}&category={{data.fcategory}}">
                        <i class="fa fa-arrow-circle-left"></i>
                      {{_("返回")}}
                  </a>
              </header>
                {% include 'warehouse-theme/pages/warehouse/goods/_edit_basic.html' %}
                {% include 'warehouse-theme/pages/warehouse/goods/_edit_other.html' %}
       </section>
      </div>
    </div>
</div>
<script>

    var vue = new Vue({
      el: '#app',
      delimiters:['{[', ']}'],
      data:{
            goods:{
                customize_id:null,
                property:{},
                cloth:{},
                gender:"n",
                introduction:"",
                category_id:null,
                goods_type_id:null,
                business_id:null,
                time_to_market:""
            },
            goods_types:{},
            categorys:{},
            businesses:{},
            years:[],
            months:[],
            time_to_market_y:0,
            time_to_market_m:1,
            goods_id:null,
            new_color:null,
            new_size:null,
            unified_quantity:0,
            unified_price:0,
            new_quantity:0,
            new_price:0,
            new_cloth:{name:"",per:0},

            basic_editing:0,
            pr_editing:0,
            pr_other_editing:0,
            cloth_editing:0
      }
    })

    // 页面一加载完就自动执行
    var goods_id = null;
    $(document).ready(function(){

        // 获取商品信息
        vue.goods_id = $("#goods_id").attr("content");
        get_goods(vue.goods_id);
        //
        var date = new Date();
        var year = date.getFullYear();
        for(var i=year+1;i>year-5;i--){
            vue.years.push(i);
        }
        for(var i=1;i<=12; i++){
            vue.months.push(i);
        }

        vue.time_to_market_y = year;
    });

    function get_goods(id){
        var result = osrHttp("GET","/api/plug/goods",{goods_id:id}, args={not_prompt:true});
        result.then(function (r) {
              vue.goods = r.data.goods;
              get_types();
              vue.time_to_market_m = vue.goods.time_to_market%100;
              vue.time_to_market_y = (vue.goods.time_to_market-vue.time_to_market_m)/100;
              vue.time_to_market_m = vue.goods.time_to_market%100;
        });
    }

    function get_types(){
         var result = osrHttp("GET","/api/plug/goods/type", {}, args={not_prompt:true});
         result.then(function (r) {
            vue.goods_types = r.data.types;
            if(vue.goods_types.length){
                get_categorys();
            }
         });
    }

    function get_categorys(){
        var data = {goods_type_id:vue.goods.goods_type_id};
         var result = osrHttp("GET","/api/plug/goods/category", data, args={not_prompt:true});

         result.then(function (r) {
            vue.categorys = r.data.categorys;
            get_businesses();
         });
    }

    function get_businesses(){
        var data = {goods_type_id:vue.goods.goods_type_id};
         var result = osrHttp("GET","/api/plug/goods/business", data, args={not_prompt:true});

         result.then(function (r) {
            vue.businesses = r.data.businesses;
         });
    }



</script>
{% endblock %}