{% extends "warehouse-theme/pages/based/based.html" %}
{% block title %}{{_('商家品牌')}}-{% endblock %}
{% block content %}
<div id="app" v-cloak>
    <div class="row osr-edit-page">
        <div class="col-md-12 osr-col-xs-12">
            <section class="osr-panel">
              <header class="panel-heading tab-bg-dark-navy-blue osr-panel-heading">
                  <strong>{{_("商家品牌")}}</strong>
                  <a class="pull-right"
                     href="/warehouse">
                        <i class="fa fa-arrow-circle-left"></i>
                      {{_("返回")}}
                  </a>
              </header>

              <div class="panel-body">
                  <div class="text-center">
                    <div class="input-group form-group">
                        <select id="type" class="form-control osr-form-control" name="type" @change="switch_type($event.target.value)">
                          <option  v-if="curren_type._id===type._id" v-for="type in types" v-bind:value =type._id selected>{[type.name]} </option>
                          <option  v-if="curren_type._id!==type._id" v-for="type in types" v-bind:value =type._id>{[type.name]} </option>
                        </select>
                        <a class="btn osr-btn-link" href="/warehouse/type">
                          <i class="fa fa-cog"></i>
                        </a>
                    </div>
                      <p>

                    <div v-for="business in businesses" class="form-group">
                      <label>
                        <input name="name" type="text" class="form-control osr-input" v-model="business.name"
                          data-bv-notempty-message="{{_('不能为空')}}" placeholder="{{_('商家品牌')}}" required/>
                        <input name="mobile_phone" type="text" class="form-control osr-input" v-model="business.mobile_phone"
                               placeholder="{{_('联系电话')}}" />
                        <input name="addr" type="text" class="form-control osr-input" v-model="business.addr"
                               placeholder="{{_('地址')}}"/>
                          </label>
                      <button v-on:click="update(business._id, business.name,business.mobile_phone,business.addr)" class="btn-sm osr-btn btn btn-info">{{_("保存")}}</button>
                        <button v-on:click="warning_modal(null, 'del', business._id)" class="btn-sm osr-btn btn btn-danger" >{{_("删除")}}</button>
                    </div>

                    <div class="form-group">
                        <label>
                        <input name="new_name" type="text" class="form-control osr-input" v-model="new_business"
                               placeholder="{{_('商家品牌')}}" data-bv-notempty-message="{{_('不能为空')}}" required/>
                        <input name="mobile_phone" type="text" class="form-control osr-input" v-model="mobile_phone"
                               placeholder="{{_('联系电话')}}" />
                        <input name="addr" type="text" class="form-control osr-input" v-model="addr"
                               placeholder="{{_('地址')}}"/>
                        </label>
                        <button v-on:click="add()" class="btn-sm osr-btn btn btn-success osr-submit-btn">{{_("添加")}}</button>
                         <button class="btn-sm osr-btn btn btn-default disabled">{{_("删除")}}</button>
                    </div>
                 </div>
              </div>
            </section>
        </div>
    </div>
</div>
<script>
    var vue = new Vue({
      el: '#app',
      delimiters:['{[', ']}'],
      data:{
        types:[],
        curren_type:null,
        businesses:[],
        new_business:"",
        mobile_phone:"",
        addr:"",
        single_type:false
      },
      methods: {show_btn:show_btn}
    })

    // 加载完页面执行
    $(document).ready(function(){
        get_types();
    })

    function show_btn(id){
        if( $("#"+id).hasClass("show") ){
            // 执行隐藏
            $("#"+id).hide().removeClass("show");
            // 其他
        }else{
            // 显示
            $("#"+id).show().addClass("show");
        }
    }

    function get_types(){
         var result = osrHttp("GET","/api/plug/goods/type", {}, args={not_prompt:true});
         result.then(function (r) {
            vue.types = r.data.types;
            if(!vue.curren_type){
                vue.curren_type = vue.types[0]._id;
                get_businesses();
            }
         });
    }

    function get_businesses(){
        var data = {goods_type_id:vue.curren_type};
         var result = osrHttp("GET","/api/plug/goods/business", data, args={not_prompt:true});

         result.then(function (r) {
            vue.businesses = r.data.businesses;
         });
    }


    function add(){
        formValidate();
        var d = {
            name:vue.new_business,
            mobile_phone:vue.mobile_phone,
            addr:vue.addr,
            goods_type_id:vue.curren_type
        }
        // 提交数据

        var result = osrHttp("POST", "/api/plug/goods/business", d);
        result.then(function (r) {
            if (r.status=="success" && r.data.msg_type=="s"){
                get_businesses();
                vue.new_business = "";
                vue.mobile_phone = "";
                vue.addr = "";
            }
        });

    }

    function update(id, name,mobile_phone,addr ){
        formValidate();
        var d = {
                 name:name,
                 goods_type_id:vue.curren_type,
                 mobile_phone:mobile_phone,
                 addr:addr,
                 id:id
        }
        // 提交数据
        var result = osrHttp("PUT", "/api/plug/goods/business", d);
        result.then(function (r) {
            if (r.status=="success" && r.data.msg_type=="s"){
                get_businesses();
            }
        });

    }

    function del(id){

        var d = {
                 ids:JSON.stringify([id])
        }
        // 提交数据
        var result = osrHttp("DELETE", "/api/plug/goods/business", d);
        result.then(function (r) {
            if (r.status=="success" && r.data.msg_type=="s"){
                get_businesses();
            }
        });
    }

    function switch_type(value){
        vue.curren_type = value;
        get_businesses();
    }


</script>
{% endblock %}
